{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">データインポート</h1>
    <div class="import-tabs d-flex mb-3">
        <button id="inventory-tab-btn" class="btn tab-link active" onclick="openTab(event, 'inventory-content')">在庫データの一括インポート</button>
        <button id="master-tab-btn" class="btn tab-link" onclick="openTab(event, 'master-content')">商品マスタの一括インポート</button>
    </div>
    <div id="inventory-content" class="tab-content active" style="display: block;">
        {% include 'import_inventory_data.html' %}
    </div>
    <div id="master-content" class="tab-content" style="display: none;">
        {% include 'import_products_master.html' %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName('tab-content');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "")
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active"
    }
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('inventory-tab-btn').click(); // 在庫タブをデフォルトでクリック
    });
</script>
{% endblock %}